<div class="rules_examples">
    <div class="rules_field">
        <div class="rules_row">
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell rules_cell_empty"></div>
        </div>  
        <div class="rules_row">
            <div class="rules_cell"></div>
            <div class="rules_cell"></div>
            <div class="rules_cell rules_cell_empty"></div>
        </div>  
        <div class="rules_row">
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell"></div>
            <div class="rules_cell rules_cell_empty"></div>
        </div>  
    </div>

    <div class="rules_field">
        <div class="rules_row">
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell rules_cell_empty"></div>
        </div>  
        <div class="rules_row">
            <div class="rules_cell"></div>
            <div class="rules_cell"></div>
            <div class="rules_cell"></div>
        </div>  
        <div class="rules_row">
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell rules_cell_empty"></div>
        </div>  
    </div>

    <div class="rules_field">
        <div class="rules_row">
            <div class="rules_cell"></div>
            <div class="rules_cell"></div>
            <div class="rules_cell rules_cell_empty"></div>
        </div> 
        <div class="rules_row">
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell"></div>
            <div class="rules_cell"></div>
        </div>  
        <div class="rules_row">
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell rules_cell_empty"></div>
            <div class="rules_cell"></div>
        </div>  
    </div>
</div>