.rules_view{
    position: fixed;
    background-color: #0009;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rules_center{
    max-width: 400px;
    background-color: #000000;
    border: 1px solid #444;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    height: 100%;
    max-height: 500px;
    overflow: hidden;
}

.rules_content_container{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: calc(100% - 45px);
}

.rules_close{
    padding: 10px 20px;
}

.rules_view_animate{

}

.rules_field{
    margin: 5px 5px;
}

.rules_row{
    display: flex;
}
  
.rules_cell{
    width: 30px;
    height: 30px;
    margin: 0px;
    background-color: var(--cellColor1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border: solid 1px #000;
    border-radius: 3px;
}

.rules_cell_empty{
    background-color: var(--cellColorEmpty);
}

.rules_examples{
    display: flex;
    justify-content: center;
}

.rules_head{
    font-size: 22px;
    margin: 5px;
    text-align: center;
}

.rules_p{
    font-size: 12px;
    margin: 5px;
}

.rules_buttons{
    display: flex;
    justify-content: center;

    padding-top: 5px;
    position: relative;
    /*box-shadow: #000 0px -5px 10px;*/
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #232323;
}

.scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #000000;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #565656;
}