<div>
    <div class="rules_head">How to play</div>
    <div class="rules_p">To complete level field should be cleared of all colored blocks inside</div>
    <div class="rules_p">Player can shot blocks by clicking stacks on the side panels. Shot is not possible when this line is empty</div>
    <div class="rules_p">All blocks appeared from side panels save direction, and they will continue moving when cell before got empty. Direction displayed as arrow inside cell</div>
    <div class="rules_p">One move can remove many color clusters one by one, displayed as combo message</div>
    <div class="rules_p">If block continue to move outside board, it will added to stack as first cell and shift existing cells of stack,</div>
    <div class="rules_p">To remove blocks from field they should be collected 3 or more together with same color as line or any polymino. For example:</div>
    <div class="rules_examples">
        <div class="rules_field">
            <div class="rules_row">
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell rules_cell_empty"></div>
            </div>  
            <div class="rules_row">
                <div class="rules_cell"></div>
                <div class="rules_cell"></div>
                <div class="rules_cell rules_cell_empty"></div>
            </div>  
            <div class="rules_row">
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell"></div>
                <div class="rules_cell rules_cell_empty"></div>
            </div>  
        </div>

        <div class="rules_field">
            <div class="rules_row">
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell rules_cell_empty"></div>
            </div>  
            <div class="rules_row">
                <div class="rules_cell"></div>
                <div class="rules_cell"></div>
                <div class="rules_cell"></div>
            </div>  
            <div class="rules_row">
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell rules_cell_empty"></div>
            </div>  
        </div>

        <div class="rules_field">
            <div class="rules_row">
                <div class="rules_cell"></div>
                <div class="rules_cell"></div>
                <div class="rules_cell rules_cell_empty"></div>
            </div> 
            <div class="rules_row">
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell"></div>
                <div class="rules_cell"></div>
            </div>  
            <div class="rules_row">
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell rules_cell_empty"></div>
                <div class="rules_cell"></div>
            </div>  
        </div>
    </div>
</div>