<div class="rules_head">Как играть</div>
<div class="rules_p">Для прохождения уровня нужно очистить все поле от цветных блоков внутри</div>
<div class="rules_p">Игрок может запускать блоки из боковых панелей на поле. Блок запустится, только если на поле на этой линии уже есть хоть один блок.</div>
<div class="rules_p">Все блоки, запущенные их боковых панелей сохраняют свое направление движения, они продолжат двигаться в ту же сторону по линии, как только перед ними освободится клетка. Направление показано стрелкой на блоке.</div>
<div class="rules_p">За один ход может уничтожиться много кластеров составленных из блоков, если они сложились после продолжения движения блоков. На экране отображается надпись Комбо.</div>
<div class="rules_p">Если блок продолжает движения до конца поля, то он смещает блоки в стеке боковой панели и становится первым</div>
<div class="rules_p">Чтобы удалить блоки с поля их необходимо собрать 3 или более вместе одного цвета как линию или полимино. Пример:</div>