*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  --cellColor1: #f90;
  --cellColor2: #9f0;
  --cellColor3: #09f;
  --cellColor4: #090;
  --cellColor5: #90f;
  --cellColor6: #f09;
  --cellColorEmpty: #333333;
  --cellSize: 30px;
  background-color: #000;
  color: #fff;
}

.row{
  display: flex;
}

.row__vertical{
  flex-direction: column;
}

.cell{
  width: var(--cellSize);
  height: var(--cellSize);
  margin: 0px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.cell__field{
  border: solid 1px #000;
  border-radius: 3px;
}

.cell__stack{
  border: solid 1px #222;
  border-radius: 3px;
}

.cell__animate{
  transition-duration: 400ms;
  transform: scale(0);
}

.grid_wrapper{
  display: grid; 
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: 0fr 0fr 0fr;
  /*height: 100%;*/
  /*width: 100%;*/
  overflow: hidden;
}

.application_wrapper{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.gamefield{
  position: relative;
}

.remove_layer{
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.remove_cell{
  position: absolute;
}

.sw_wrapper{
  fill:#fff;
  width: 50%;
  
  transform-origin: center;
}

.sw_wrapper0{
  transform: scale(0);
}

.sw_wrapper1{
  transform: rotate(270deg);
}

.sw_wrapper2{
  transform: rotate(180deg);
}

.sw_wrapper3{
  transform: rotate(0deg);
}

.sw_wrapper4{
  transform: rotate(90deg);
}

.bricks_wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bricks_wrapper_full{
   width: 100%;
}

.bricks_wrapper_h{
  height: 100%;
}


.header{
  flex-shrink: 0;
  height: 40px;
}

.flw{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}