*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  --cellColor1: #f90;
  --cellColor2: #9f0;
  --cellColor3: #09f;
  --cellColor4: #090;
  --cellColor5: #90f;
  --cellColor6: #f09;
  --cellColorEmpty: #333333;
  --cellSize: 30px;
  background-color: #000;
  color: #fff;
}

.row{
  display: flex;
}

.row__vertical{
  flex-direction: column;
}

.cell{
  width: var(--cellSize);
  height: var(--cellSize);
  margin: 1px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.cell__field{
  border: solid 0px #ccc;
  border-radius: 0px;
}

.cell__stack{
  border: solid 0px #222;
  border-radius: 2px;
}

.cell__animate{
  transition-duration: 400ms;
  transform: scale(0);
}

.grid_wrapper{
  display: grid; 
  grid-template-columns: 0fr 1fr 0fr;
  grid-template-rows: 0fr 0fr 0fr;
}

.application_wrapper{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.gamefield{
  position: relative;
}

.remove_layer{
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.remove_cell{
  position: absolute;
}